<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>New Job Result</title>
    <style>
        .loading-indicator {
            display: block;
            text-align: center;
            margin-top: 20px;
        }
  
        .loading-indicator img {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>New Job Result</h1>
        <p id="status-message">{{ resultMessage }}</p>
    </div>
</body>
</html>
