body {
    background-image: url("Capture2.PNG");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
  }

  h2 {
    text-align: center;
    font-size:xx-large;
    font-family: 'Montserrat', sans-serif;
    margin-top:5%
  }

  
  p,a{
    text-align: center;
    font-size:xx-large;
    font-family: 'Montserrat', sans-serif;
    margin-top:5%
  }